body {
	overflow: hidden;
}
#board {
	/*display: block;*/
	border: 5px solid DimGray;
	background-color: White;
	margin-left: auto;
	margin-right: auto;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
#panel p {
	margin: 0;
}
#panel {
	border-style: solid;
	border-color: DimGray;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 5px;
	border-right: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: DimGray;
	color: White;
	font-weight: bold;
	padding: 0px 5px 5px 5px;
	margin-top: 0;
	margin-bottom: 0;
}

@media (min-width: 768px) {
  .panel-text-size {
	font-size: 44px;
  }
}
@media (min-width: 992px) {
  .panel-text-size {
	font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .panel-text-size {
	font-size: 48px;
  }
}

.text-center{
	text-align: center;
}